body{
margin:0;
font-family: Arial;
text-align:center;

background: linear-gradient(135deg,#e6f0ff,#ffd6f0,#e8d6ff);
background-size:400% 400%;
animation:fondo 25s infinite;

padding-top:100px;
color:#4b3f72;
}

@keyframes fondo{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

h1{
font-size:40px;
margin-bottom:30px;
}

p{
font-size:21px;
max-width:700px;
margin:auto;
line-height:1.7;
}

button{
margin-top:50px;
padding:12px 28px;

border:none;
border-radius:25px;

background:white;
color:#7c3aed;

cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.1);
}