body{
margin:0;
font-family:Arial;
text-align:center;

background: linear-gradient(135deg,#e6f0ff,#ffd9ef,#ead9ff);
padding-top:120px;

color:#4b3f72;
}

h1{
font-size:45px;
}

p{
font-size:22px;
max-width:600px;
margin:auto;
line-height:1.7;
margin-top:20px;
}

.flores{
font-size:90px;
margin-top:60px;

animation:flotar 4s ease-in-out infinite alternate;
}

@keyframes flotar{
from{transform:translateY(0px);}
to{transform:translateY(-20px);}
}