body{
margin:0;
font-family: Arial, sans-serif;
text-align:center;

background: linear-gradient(135deg,#d6ecff,#ffd6ec,#e6d6ff);
background-size:400% 400%;
animation:fondo 22s ease infinite;

color:#4b3f72;
padding-top:80px;
}

/* animación fondo */

@keyframes fondo{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

/* titulo */

h1{
font-size:40px;
margin-bottom:20px;
}

/* texto */

p{
font-size:21px;
max-width:650px;
margin:auto;
line-height:1.7;
}

/* contenedor imagenes */

.imagenes{
position:relative;
height:340px;
margin-top:40px;
}

/* imagenes */

.imagenes img{

width:200px;
height:auto;

border-radius:20px;

position:absolute;

box-shadow:0 12px 25px rgba(0,0,0,0.2);

transition:0.3s;
}

.imagenes img:hover{
transform:scale(1.08) rotate(2deg);
}

/* posiciones desordenadas */

.img4{
top:10px;
left:25%;
}

.img5{
top:80px;
left:55%;
}

.img6{
top:160px;
left:40%;
}

/* boton */

button{

display:block;

margin:60px auto;

padding:14px 30px;

font-size:18px;

background:white;

color:#6d4edb;

border:none;

border-radius:30px;

cursor:pointer;

transition:0.3s;
}

button:hover{
transform:scale(1.08);
background:#ffffff;
}